<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfunctionapp9605.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3134e3f8-8fda-430d-9176-49685b1a9982/resourceGroups/TestAzureServices/providers/Microsoft.Web/sites/MyFunctionApp9605</ResourceId>
    <UserName>$MyFunctionApp9605</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myfunctionapp9605.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>